.card-text-input {
    position: relative;
    z-index: 2;
    /* Ensure the input stays on top */
    background-color: transparent;
    border: none;
    outline: none;
}

.card-text-input::placeholder {
    color: gray
}