:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  display: flex;
}

.column {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
}
